Package: com.chr1s.shake2blur
Name: Shake2Blur
Version: 1.0.0
Architecture: iphoneos-arm
Description: Shake to blur phone screen
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
